<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
  <div class="ion-margin-top">
    <ion-progress-bar color="secondary" value="0.7"></ion-progress-bar>
  </div>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              <ion-icon name="key" color="secondary"></ion-icon>
              Signup
            </ion-card-title>
            <div class="ion-margin-top">
              <ion-progress-bar color="secondary" [value]="val"></ion-progress-bar>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="currentStep === 0">
              <app-basic-info (formChange)="formChange($event)"></app-basic-info>
            </div>
            <div *ngIf="currentStep === 1">
              <app-user-type (userTypeChange)="userTypeChange($event)"></app-user-type>
            </div>
            <div *ngIf="currentStep === 2 && isBusiness()">
              <app-shop-info (NextChanged)="stepToRegister($event)"></app-shop-info>
            </div>
            <div *ngIf="currentStep === 2 && !isBusiness()">
              <app-signup-complete></app-signup-complete>
            </div>
            <div *ngIf="currentStep === 3">
              <app-signup-complete></app-signup-complete>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="togglePrevious()" *ngIf="currentStep !== 0">
        Previous
      </ion-button>
    </ion-buttons>

    

    <ion-buttons slot="primary">
      <ion-button (click)="toggleNext()" *ngIf="currentStep !== 3 ">
        Next
      </ion-button>
      <ion-button *ngIf="currentStep === 3">
        Signup
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>